<router-outlet></router-outlet>


<!-- <div style="text-align:center; background: darkslategrey">
  <div style="position:relative;z-index:10">
    <header class="animated fadeInDown" id="navbar">
      <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;color: aliceblue; ">
        Welcome to {{ title }}
      </h4>
    </header>
  </div>
  
<div class="row">
   <div class="col‑xs‑12">
    <ul class="nav nav‑pills">
     <li routerLinkActive="active"> <a [routerLink]="['/weather']" >Weather</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/movie']" >Movie Details</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/currency']" >Currency Rates</a></li>
    </ul>
  </div>
 </div>
  <div class="wrapper1" style="padding-bottom: 0px;padding-left: 0px;border: thistle 1px;height:auto; background-color: #F5F5F5
  ">


    <div id="one1">
      <button mat-button [matMenuTriggerFor]="home" class="mat-primary f-s-l" (click)='loadHomeEvent($event)'>
        <!--<mat-icon>home</mat-icon>-->
<!--<span>Home</span>
</button>
<mat-menu #home="matMenu"></mat-menu>
</div>
<div id="one1">
  <button mat-button [matMenuTriggerFor]="about" class="mat-primary f-s-l" (click)='loadAboutEvent($event)'>About
    Us</button>
  <mat-menu #about="matMenu"></mat-menu>
</div>
<div id="one1">
  <button mat-button [matMenuTriggerFor]="services" class="mat-primary f-s-l" (click)='loadServiceEvent($event)'>Services</button>-->
<!-- <mat-menu #services="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="service1">service1</button>
        <button mat-menu-item [matMenuTriggerFor]="service2">service2</button> 
      </mat-menu>
  <mat-menu #services="matMenu" yPosition="below"></mat-menu>-->
<!--</div>
<div id="one1">
  <button mat-button [matMenuTriggerFor]="contactus" class="mat-primary f-s-l" (click)='loadContactEvent($event)'>
    <mat-icon>contact_phone</mat-icon>
    <span>Contact Us</span>
    <mat-menu #contactus="matMenu"></mat-menu>
  </button>

</div>
</div>-->

<!--<ng-container style="overflow:hidden">-->
<!-- <div>
      <h4>{{getSubtitle(slideshow.slideIndex)}}</h4>
    </div> 
  <div class="wrapper">

    <div class="one">
      <span>
        <slideshow #slideshow [imageUrls]="iitems" [height]="height" [minHeight]="'
          220px'" [lazyLoad]="iitems?.length > 1"
          [backgroundPosition]='left' [backgroundRepeat]='round
            ' [showDots]="true"
          [autoPlayWaitForLazyLoad]="true" [autoPlay]="true"></slideshow>
      </span>

    </div>
    <div class="two">
      <p>{{getContent(slideshow.slideIndex)}}</p>
    </div>
  </div>-->
<!-- <div>
      <p>{{getContent(slideshow.slideIndex)}}</p>
    </div> -->
<!-- ABOUT US
  <div class='two'>
    <P> AMBHYGSDHUJNCJID</P>
  </div>-->
<!-- Services -->

<!--<div class='two'>
    <P> Services</P>
  </div>-->

<!-- CONTACT US-->
<!--<div class='two'>
    <P>Mobile No : +917795456696 </P>
    <P>Email Id : rajeshkrkush@gmail.com</P>
  </div>
</ng-container>
</div> -->


<!-- Use for later-->
<!-- <mat-toolbar color="primary"> 
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Connecting</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Let's talk</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
     <span class="fill-remaining-space">Application Title</span>
    </mat-toolbar> -->


<!-- <div id="one1">
     <button (click)='myFunction()'><label for="name">About us </label></button> 
    <button mat-raised-button class="mat-primary" style="width:auto" type="submit"><label for="name">Home</label></button>
  </div>
  <div id="one1">
    <button mat-raised-button class="mat-primary" style="width:auto" (click)='services()'>
      <label for="name">About Us</label></button>
  </div>

  <div id="one1">
    <button mat-raised-button class="mat-primary" style="width:auto" (click)='services()'><label for="name">Services</label></button>
  </div>
  <div id="one1">
    <button mat-raised-button class="mat-primary" type="submit"><label for="name">Contact Us</label></button>
  </div>
</div> -->